<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h1>{{ title }}</h1>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row" ng-hide="createChannel">
	<div class="col-md-4"></div>
	<div class="button-inner col-md-4">	
		<div class="input-group">
			<input type="text" class="form-control" ng-model="channelName" placeholder="my channel">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="button" ng-click="createChannel=true">Create Channel</button>
			</span>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>


<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4" id="channel-title">
		<h2>{{channelName}}</h2>
	</div>
	<div class="col-md-4"></div>
</div>

<div  ng-show="createChannel" class="row">
	<div class="col-md-2">
		
	</div>
	<div id="chat-historic" class="col-md-8" ng-include src="video.html">
		 
		
	</div>
	<div class="col-md-2"></div>
</div>